define:development

verbosity:0
hints:off
warnings:off
outdir:build
listFullPaths:off
path:"."
path:"./base"
# path:"/alex/projects/pl0t/api/nim"
# path:"./base"
# path:"./ext"
# path:"./node"
# path:"./http"
# path:"./postgres"
# profiler:on
# stacktrace:on
threads:off
define:useStdLib
multimethods:on
# w:on
warning[UnusedImport]:on
# warning[ObservableStores]:off
# import:"base/base/requirem"
warning[ProveField]:on # warnings for variant objects misuse
warning[Uninit]:on # warnings for variant objects misuse

define:nimPreviewSlimSystem

# Needed for https support
define:ssl
passl:"-Wl,-rpath,/usr/local/opt/openssl@1.1/lib"

# mm:orc
experimental:overloadableEnums
experimental:strictFuncs
experimental:strictNotNil
# experimental:strictDefs
experimental:strictEffects
# unicodeOperators:on
# warningAsError:Uninit:on
# experimental:strictCaseObjects
# define:nimPreviewSlimSystem