@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden_controls { display: none; }

.pblock {
  @apply pr-8; @apply py-1; @apply pl-6; @apply ml-2;
  position: relative; border-top: 1px solid white; border-bottom: 1px solid white;
}

.pblock_hover:hover { @apply border-gray-200; }
.pblock_hover:hover .hidden_controls { display: block; }
.pblock_hover:after {
  @apply bg-gray-200;
  position: absolute; margin: 0 !important; display: none; content: '';
  top: 0; bottom: 0; left: 0; width: 5px;
}
.pblock_hover:hover:after { display: block; }


.svg-icon {
  position: relative; top: 1px; left: 1px; background-size: contain; background-position: center;
}


.ftext { @apply flex; @apply flex-col; @apply space-y-2; }
.ftext > * { display: block; }

.ftext > pre { @apply text-sm; @apply border; @apply rounded; @apply border-gray-300; @apply px-2; @apply py-1; }

.ftext > ul > li > code,
.ftext > p > code {
  padding: 1px 4px; @apply border; @apply rounded; @apply border-gray-300;
  @apply text-sm;
}

.ftext a.tag, .ftext a.link, .ftext a.glink { @apply text-blue-800; }

.ftext > ul { @apply flex; @apply flex-col; @apply space-y-2; }
.ftext > ul > li { display: block; }












/* td > div { @apply rounded; @apply overflow-hidden; @apply border; @apply border-gray-300; } */

















/* .note-text-block >  */

/* .right-panel .right-panel-controls-icon {
  opacity: 1;
  transition: opacity;
  transition-delay: 1.1s;
  transition-duration: 0.1s;
}
.right-panel:hover .right-panel-controls-icon {
  opacity: 0;
  transition: opacity;
  transition-duration: 0.1s;
} */

/* .right-panel-content {
  opacity: 0;
  transition: opacity;
  transition-delay: 1s;
  transition-duration: 0.1s;
}
.right-panel:hover .right-panel-content {
  opacity: 1;
  transition: opacity;
  transition-duration: 0.1s;
} */


@layer components {
  .edges { border: 1px solid black; }

  /* Left panel --------------------------------------------------------------------------------- */
  .item-left-margin {
    @apply pl-6;
  }



  .section-title {
    @apply text-xl; @apply p-1; @apply item-left-margin;
  }

  .text-block {
    @apply p-2; @apply item-left-margin;
  }

  .list-block {
    @apply p-2; @apply item-left-margin;
  }

  .list-block-item {
    @apply pb-2;
  }

  .note-tag {
    @apply mr-2; @apply text-blue-800;
  }

  .text-link {
    @apply text-blue-800;
  }

  .text-tag {
    @apply text-blue-800;
  }

  .anchor { @apply text-gray-300; visibility: hidden; }
  div:hover > .anchor { visibility: visible; }

  /* Right panel -------------------------------------------------------------------------------- */



  .backlinks a {
    @apply block; @apply text-sm; @apply text-blue-800;
  }


  /* Images ------------------------------------------------------------------------------------- */
  .svg-icon { background-size: contain; background-position: center; }
}

  /* .right-panel-content { visibility: hidden; } */
  /* .right-panel:hover .right-panel-content { visibility: visible; } */
  /* .right-panel:hover .right-panel-controls-icon { display: none; } */

